body {
    font-family: 'Arial', sans-serif;
}

header {
    margin-bottom: 20px;
}

h1 {
    color: #337ab7;
    margin-bottom: 20px;
}

h2 {
    color: #5cb85c;
    margin-top: 40px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

footer {
    margin-top: 40px;
    padding: 20px 0;
    font-size: 14px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff !important;
}
